*.vs/
*WIFI.Buchandlung.Client/bin/
*WIFI.Buchandlung.Client/obj/
*WIFI.Anwendung/bin/
*WIFI.Anwendung/obj/
*Wifi.Windows/bin/
*Wifi.Windows/obj/
*Wifi.Windows/obj/Debug/
*Wifi.Windows/obj/Debug/net8.0