<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIFI.Buchandlung.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WIFI.Buchandlung.Client.Properties.Settings>
            <setting name="LetzterSprachcode" serializeAs="String">
                <value />
            </setting>
            <setting name="BeimBeendenFragen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Verbindungszeichenfolge" serializeAs="String">
                <value>Server=(localdb)\mssqllocaldb;AttachDbFilename=..\..\..\..\WIFI.Buchandlung.Client\Datenbank\WIFIBuchhaltung.mdf;Database=WIFIBuchhaltung;Trusted_Connection=Yes;</value>
            </setting>
        </WIFI.Buchandlung.Client.Properties.Settings>
    </userSettings>
</configuration>